{:paths ["src/dev"
         "src/main"
         "src/test"]
 :dependencies
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/clojurescript {:mvn/version "1.10.866"}}
 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.6"}
                reagent/reagent {:mvn/version "1.1.0"}}}
  :personal
  {:extra-deps {org.clojars.aidam/roam-plugin-tools {:mvn/version "0.0.3"}
                org.clojars.aidam/roam-alpha-api {:mvn/version "1.0.3"}}}
  :personal-local
  {:extra-deps {org.clojars.aidam/roam-plugin-tools {:local/root "../roam-plugin-tools"}
                org.clojars.aidam/roam-alpha-api {:local/root "../roam-alpha-api"}}}}}
